
#container{
    width: 400px;
    height: 400px;
    border: solid darkred 2px;
    border-collapse: collapse;
    background-color: darkgray;

}
table{
    width: 500px;
    height: 500px;
    border: solid darkred 2px;
    border-collapse: collapse;

}
.blackBox{
    width: 50px;
    height: 50px;
  background-color: black;
    border-radius:50%;

}
.whiteBox{
    width: 50px;
    height: 50px;
    background-color: lightsalmon;
    border-radius:50%;

}

.divchessboard{
    float: left;
}